<div class="wrapper-wide" aria-hidden="true">
  <br />
  <div *ngIf="collectionControls?.length > 0 && pageIsload" class="container">
    <div class="col-sm-12">
      <div class="card border-success mb-3 bg-light">
        <div class="card-header">Dynamic Forms Test </div>
        <div class="card-body ">
          <forms-builder
            (onSubmitOccoured)="saveDataUser($event)"
            (contorlEventChanged)="eventChanged($event)"
            [controls]="collectionControls"
            [operationBar]="operationBar"
          ></forms-builder>

          <!-- <forms-builder *ngIf="showmartialCtrls"
          (onSubmitOccoured)="saveDataUser($event)"
          (contorlEventChanged)="eventChanged($event)"
          [controls]="maritaldatacollection"
        ></forms-builder> -->
        </div>
      </div>
    </div>
  </div>
</div>



<div class="wrapper-wide" aria-hidden="true"  *ngIf="pageIsload">
  <br />
  <div  class="container">
    <div class="col-sm-12">
      <div class="card border-success mb-3 bg-light">
        <div class="card-header">Result Forms Test </div>
        <div class="card-body ">
          <pre>{{dataResult | json}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" *ngIf="!pageIsload" >
  <app-fake-loader></app-fake-loader>
</div>
