<div class="form-group row" [formGroup]="form">
  <div class="col-md-12" [ngSwitch]="inputControl.type">
  <div class="row col-md-12">
  <label for="{{inputControl.name}}">{{inputControl.label}}</label>
  <label *ngIf="inputControl.required==='required'"   style="color:red">*</label>
  </div>
    <textbox *ngSwitchCase="'text'"  [controlValues]="inputControl" [form]="form"></textbox>
    <textareas *ngSwitchCase="'textareas'"  [controlValues]="inputControl" [form]="form"></textareas>
    <money *ngSwitchCase="'money'"  [controlValues]="inputControl" [form]="form"></money>
    <dropdown *ngSwitchCase="'dropdown'"  [controlValues]="inputControl" [form]="form"></dropdown>
    <datepicker *ngSwitchCase="'datepicker'"  [controlValues]="inputControl" [form]="form"></datepicker>
    <radio *ngSwitchCase="'radio'"  [controlValues]="inputControl" [form]="form"></radio>
    <masktextbox *ngSwitchCase="'masktextbox'"  [controlValues]="inputControl" [form]="form"></masktextbox>
    <number *ngSwitchCase="'number'"  [controlValues]="inputControl" [form]="form"></number>
    <textbox *ngSwitchCase="'password'"  [controlValues]="inputControl" [form]="form"></textbox>

  </div>



</div>
